@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/*Reset 시작*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: #fff;
    color: #333;
    letter-spacing: 1px;
    font-family: 'Do Hyeon', sans-serif;
}

a                     { text-decoration: none; }
a:active            { color: #333; }
a:visited           { color: #333; }
a:link               { color: #333; }
a:hover            { color: #333; }
ul             { list-style: none;}

h2 {
    padding-right: 22px;
    margin-bottom: 12px;
    border-bottom: 2px solid #333;
    color: #333;
    font-size: 27px;

    display: inline-block;
}
/*Reset 끝*/

/* 가이드 라인 시작*/
/*div#headerBG             {border: 1px solid #000;}*/
/*div#headerLogo             {border: 1px solid #000;}*/
/*nav#gnb1                     {border: 1px solid #000;}*/
/*nav#gnb2                     {border: 1px solid #000;}*/
/*div#wrap                      {border: 1px solid #000;}*/
/*div#newProduct             {border: 1px solid #000;}*/
/*aside#aside                         {border: 1px solid #000;}*/
/*div#event                         {border: 1px solid #000;}*/
/*div#notice                         {border: 1px solid #000;}*/
/*footer#footer                     {border: 1px solid #000;}*/
/* 가이드 라인 끝*/

/*div#headerBG 시작*/
div#headerBG {
    width: 100%;
    height: 100px;
    margin-bottom: 27px;
    background-color: #7348be;

    position: sticky;
    top: 0;
    z-index: 1;
}

header#header {
    width: 800px;
    margin: 0 auto;

    background-color: #7348be;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
    /*nav#gnb1 시작*/
nav#gnb1 li {

    float: left;
}

nav#gnb1 a {
    height: 100px;
    padding: 0 13px;
    line-height: 103px;

    font-size: 18px;
    color: #fff;
    background-color: #7348be;

    display: inline-block;
}

#gnb1 a:hover {
    border-bottom: 2px solid #fff;

    display: inline-block;
}
    /*nav#gnb1 끝*/

    /*div#headerLogo 시작*/
div#headerLogo {
    height: 100px;
    margin: 0 30px;

    background-color: #7348be;

    display: inline-block;
}
div#headerLogo a {
    line-height: 100px;

    font-size: 40px;
    font-style: italic;
    font-family: 'Varela Round', sans-serif;
    color: #fff;

    background-color: #7348be;

    display: inline-block;
}
    /*div#headerLogo 끝*/

    /*nav#gnb2 시작*/
nav#gnb2 li {

    float: left;
}
nav#gnb2 a {
    height: 100px;
    padding: 0 13px;
    line-height: 103px;

    font-size: 18px;
    color: #fff;
    background-color: #7348be;

    display: inline-block;
}
#gnb2 a:hover {
    border-bottom: 2px solid #fff;

    display: inline-block;
}
    /*nav#gnb2 끝*/

    /*div#searchIcon 시작*/
div#searchIcon  {
    background-color: #7348be;

}
div#searchIcon a {
    background-color: #7348be;

}
div#searchIcon a img {
    margin-top: 30px;
    margin-left: 30px;
    background-color: #7348be;
}
    /*div#searchIcon 끝*/


/*div#headerBG 끝*/



/*div#wrap 시작*/
div#wrap {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

/*main#main 시작*/
main#main #promotion {
    width: 800px;
    height: 500px;

    background-image: url(../images/Event_whiteDay_main.jpg);
    background-size: 800px 515px;
    background-repeat: no-repeat;

    cursor: pointer;
}

    /*div#newProduct 시작*/
div#newProduct {
    height: 400px;
    margin-bottom: 43px;
}
div#newProduct h2 {
    padding-top: 50px;
}
div#newProduct #newProImg {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    overflow: hidden;
    justify-content: space-between;
}
div#newProduct #newProImg img {
    margin: 0 10px;
}
div#newProduct #newProImg #NproImg:hover span {
    padding-right: 10px;
    border-bottom: 2px solid #333;
}
div#newProduct #newProImg span {
    margin-top: 8px;

    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: 'Gothic A1', sans-serif;
    display: inline-block;
}
    /*div#newProduct 끝*/


/*main#main 끝*/

/*aside#aside 시작*/
aside#aside {
    height: 400px;
    margin-bottom: 70px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

    /*div#event 시작*/
div#event {
    width: 400px;
    padding-right: 65px;
/*    border: 1px solid #000;*/
}
div#event #eventImg {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
div#event #eventImg img {
    width: 310px;
    margin-right: 25px;
}
div#event #eventImg span {
    color: #fb0;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
div#event #eventImg p {
    font-size: 25px;
    font-weight: bold;

}
    /*div#event 끝*/

    /*div#notice 시작*/
div#notice {
    width: 400px;
    height: 400px;
/*    border: 1px solid #000;*/
}
#notice #noticeTxt {
    width: 400px;
    padding: 5px;
    padding-top: 8px;
    margin-top: 20px;
    border: 2px solid #ddd;

}
#notice #noticeTxt li a {
    padding-bottom: 23px;
}
#notice #noticeTxt a {
    padding: 0 0 21px 0;
    font-size: 16px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;
    color: #555;
    display: inline-block;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}
#notice #noticeTxt a:hover {
    color: #fb0;
}
#notice #noticeTxt a.notice:last-child {
    padding-bottom: 0;
}
    /*div#notice 끝*/

/*aside#aside 끝*/


/*footer#footer 시작*/

    /*div#etcContent 시작*/
div#etcContent {
    width: 400px;
    height: 250px;
/*    border: 1px solid #000;*/

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}
    /*div#siteMap 시작*/
#etcContent #siteMap li {
    width: 400px;
    padding: 11px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-bottom: none;
}
#etcContent #siteMap li {
    border-bottom: 1px solid #ddd;
}
#etcContent #siteMap a {
    font-size: 17px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold;

}
#etcContent #siteMap a:hover {
    color: #fb0;
}
    /*div#siteMap 끝*/

    /*div#Link 시작*/
div#Link {
    width: 400px;
    height: 250px;
    padding: 20px;
    padding-top: 45px;
    margin-left: 150px;
/*    border: 1px solid #000;*/
}
div#Link h1 {
    margin-top: 35px;
}
#snsLink {
    margin-top: 10px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    position: relative;
}
#snsLink img {
    margin: 0 10px;
    margin-left: 0;


}
#Link img.youtubeLogo {
    width: 52px;
    height: 52px;

    position: absolute;
    top: -8px;
    left: 90px;
}
    /*div#Link 끝*/

    /*div#etcContent 끝*/


    /*div#copy 시작*/
div#copy {
    height: 100px;
    margin-top: 50px;
    margin-bottom: 15px;
/*    border: 1px solid #000;*/
    text-align: center;
}
div#copy #copyLink a {
    padding-top: 10px;
    margin: 0 30px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
div#copy #copyLink a:hover {
    text-decoration: underline;
}
#copy #copyTxt {
    margin-top: 10px;
}
div#copy #copyTxt p {
    margin-top: 7px;

    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 2px;
}
    /*div#copy 끝*/



/*footer#footer 끝*/



/*div#wrap 끝*/




